click
elasticsearch>=8,<9
fiona<1.10
gdal
lxml
netcdf4==1.6.5
pandas<2.1
parse
pygeometa
pyproj<3.5
python-slugify
pyyaml
rasterio<1.4
requests
sqlalchemy
unicodecsv
urllib3>=1.26.2,<2
xarray<2023.2.0
