<!doctype html>
<html lang="en">
  <head>
    <meta charset="{{ config['server']['encoding'] }}">
    <title>{% block title %}{{ config['metadata']['identification']['title'] }} -{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="{{ config['server']['language'] }}">
    <meta name="description" content="{{ config['metadata']['identification']['title'] }}">
    <meta name="keywords" content="{{ config['metadata']['identification']['keywords']|join(',') }}">
    <link rel="shortcut icon" href="{{ config['server']['url'] }}/static/img/favicon.ico" type="image/x-icon">

    <!-- GCWeb theme -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/css/theme.min.css">

    <link rel="stylesheet" href="{{ config['server']['url'] }}/static/css/default.css">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    {% for link in data['links'] %}
      <link rel="{{ link['rel'] }}" type="{{ link['type'] }}" title="{{ link['title'] }}" href="{{ link['href'] }}"/>
      {% if (link['rel']=="self" and link['type']=="text/html") %}
      <link rel="canonical" href="{{ link['href'].split('?')[0] }}" />
      {% endif %}
    {% endfor %}
    {% block extrahead %}
    {% endblock %}
  </head>
  <body vocab="http://schema.org/" typeof="WebPage">
    <nav>
        <ul id="wb-tphp">
            <li class="wb-slc">
                <a class="wb-sl" href="#wb-cont">Skip to main content</a>
            </li>
            <li class="wb-slc">
                <a class="wb-sl" href="#wb-info">Skip to "About government"</a>
            </li>
        </ul>
    </nav>
    <header>
      <div id="wb-bnr" class="container">
        <div class="row">
          <!-- language selection (JSON) -->
          <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
            <h2 class="wb-inv">JSON selection</h2>
            <ul class="list-inline mrgn-bttm-0">
              {% set links_found = namespace(json=0, jsonld=0) %}

              {% for link in data['links'] %}
              {% if link['rel'] == 'alternate' and link['type'] and link['type'] in ['application/json', 'application/geo+json'] %}
              {% set links_found.json = 1 %}
              <li>
                <a id="json-format-url" href="{{ link['href'] }}" class="btn btn-xs btn-default">
                  <span class="hidden-xs">JSON</span>
                  <abbr title="JSON" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">JSON</abbr>
                </a>
              </li>
              {% elif link['rel'] == 'alternate' and link['type'] and link['type'] == 'application/ld+json' %}
              {% set links_found.jsonld = 1 %}
              <li>
                <a id="jsonld-format-url" href="{{ link['href'] }}" class="btn btn-xs btn-default">
                  <span class="hidden-xs">JSON-LD</span>
                  <abbr title="JSON-LD" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">JSON-LD</abbr>
                </a>
              </li>
              {% endif %}
              {% endfor %}

              {% if links_found.json == 0 %}
              <li>
                <a id="json-format-url" href="?f=json" class="btn btn-xs btn-default">
                  <span class="hidden-xs">JSON</span>
                  <abbr title="JSON" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">JSON</abbr>
                </a>
              </li>
              {% endif %}
              {% if links_found.jsonld == 0 %}
              <li>
                <a id="jsonld-format-url" href="?f=jsonld" class="btn btn-xs btn-default">
                  <span class="hidden-xs">JSON-LD</span>
                  <abbr title="JSON-LD" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">JSON-LD</abbr>
                </a>
              </li>
              {% endif %}
              {% block extralang %}
              {% endblock %}
            </ul>
          </section>

          <!-- Brand -->
          <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
            <a href="https://www.canada.ca/en.html" property="url">
              <img src="{{ config['server']['url'] }}/static/img/img_eccc-logo.png" alt="Environment & Climate Change Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Environnement et Changement climatique Canada</span></span>
            </a>
            <meta property="name" content="Environment & Climate Change Canada" />
            <meta property="areaServed" typeof="Country" content="Canada" />
            <link property="logo" href="{{ config['server']['url'] }}/static/img/img_eccc-logo.png" />
          </div>
        </div>
      </div>

      <nav id="wb-bc" property="breadcrumb">
        <h2>You are here:</h2>
        <div class="container">
          <ol class="breadcrumb">
            {% block crumbs %}
            <li><a href="{{ config['server']['url'] }}">Home</a></li>
            {% endblock %}
          </ol>
        </div>
      </nav>
    </header>
    <main property="mainContentOfPage" class="container" typeof="WebPageElement">
      {% block body %}
      {% endblock %}
      <div class="pagedetails">
        <dl id="wb-dtmd">
          <dt>Powered by <a title="pygeoapi" href="https://pygeoapi.io"><img src="{{ config['server']['url'] }}/static/img/pygeoapi.png" style="height:24px;vertical-align: middle;"/></a></dt>
          <dd>{{ version }}</dd>
          | <dt><a href="https://github.com/ECCC-MSC/msc-pygeoapi" target="_blank">msc-pygeoapi</a></dt>
          <dd>MSC_PYGEOAPI_VERSION</dd>
        </dl>
      </div>
    </main>
    <footer id="wb-info">
      <div class="landscape">
        <nav class="container wb-navcurr">
          <h2 class="wb-inv">About government</h2>
          <ul class="list-unstyled colcount-sm-2 colcount-md-3">
            <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
            <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
            <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
            <li><a href="https://www.canada.ca/en/news.html">News</a></li>
            <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
            <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
            <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
            <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
            <li><a href="https://open.canada.ca/en/">Open government</a></li>
          </ul>
        </nav>
      </div>
      <div class="brand">
        <div class="container">
          <div class="row">
            <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
              <h2 class="wb-inv">About this site</h2>
              <ul>
                <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
              </ul>
            </nav>
            <div class="col-xs-6 visible-sm visible-xs tofpg">
              <a href="#wb-cont">Top of page <span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-2 text-right">
              <img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% block extrafoot %}
    {% endblock %}
    <script>
      // Requests and embeds JSON-LD representation of current page
      var xhr = new XMLHttpRequest();
      var path = window.location.protocol + "//" + window.location.host + window.location.pathname + "?f=jsonld";
      if (window.location.pathname.match(/\/items(#)*/gi)) { // reduce load on /items page
        path += '&limit=10';
      }
      xhr.open('GET', path);
      xhr.onload = function() {
        if (xhr.status === 200) {
          var head = document.getElementsByTagName('head')[0];
          var jsonld_datablock = document.createElement('script');
          jsonld_datablock.type = "application/ld+json";
          // remove full context path, because search engines don't expect it here, pyld requires it.
          jsonld_datablock.textContent = xhr.responseText.replace('docs/jsonldcontext.jsonld','');
          head.appendChild(jsonld_datablock);
        }
      };
      xhr.send();
    </script>
  </body>
</html>
