{% extends "_base.html" %}
{% block title %}{{ super() }} Home {% endblock %}
{% block body %}

<h1>MSC GeoMet &mdash; GeoMet-OGC-API</h1>

<section id="collections">
<div class="row">
  <!-- Main column -->
  <div class="col-md-8 col-sm-12">

    <section id="identification">
      <p>{{ config['metadata']['identification']['description'] }}</p>

      <ul class="list-inline">
          {% for kw in config['metadata']['identification']['keywords'] %}
            <li><span class="label label-info">{{ kw }}</span></li>
          {% endfor %}
      </ul>
    </section>

    <section class="panel panel-info">
      <div class="panel-body">
        <p class="text-info">
          <b><span class="glyphicon glyphicon-book"></span> MSC GeoMet User Documentation</b><br>
          <a class="info" href="https://eccc-msc.github.io/open-data/msc-geomet/readme_en" target="_blank">https://eccc-msc.github.io/open-data/msc-geomet/readme_en</a>
        </p>
      </div>
    </section>

    <section id="collections">
      <h2>Collections</h2>
      <p>
        <a href="{{ config['server']['url'] }}/collections?f=html">View the collections in this service</a>
      </p>
    </section>


    {% if data['stac'] %}
    <section id="collections">
      <h2>SpatioTemporal Assets</h2>
      <p>
        <a href="{{ config['server']['url'] }}/stac?f=html">View the SpatioTemporal Assets in this service</a>
      </p>
    </section>
    {% endif %}

    {% if data['processes'] %}
    <section id="processes">
      <h2>Processes</h2>
      <p>
        <a href="{{ config['server']['url'] }}/processes?f=html">View the processes in this service</a>
      </p>
    </section>
    {% endif %}

    <section id="openapi">
      <h2>API Definition</h2>
      <p>
        <a href="{{ config['server']['url'] }}/openapi?f=html">Documentation: Swagger UI</a>
      </p>
      <p>
        <a href="{{ config['server']['url'] }}/openapi?f=json">OpenAPI Document</a>
      </p>
    </section>
    
    <section id="conformance">
      <h2>Conformance</h2>
      <p>
        <a href="{{ config['server']['url'] }}/conformance?f=html">View the conformance classes of this service</a>
      </p>
    </section>
  </div>

  <!-- Secondary column -->
  <div class="col-md-4 col-sm-12">
    <section class="panel panel-primary">
      <header class="panel-heading">
        <h2 class="panel-title">Provider</h2>
      </header>
      <div class="panel-body">
        <b>{{ config['metadata']['provider']['name'] }}</b><br>
        <a href="{{ config['metadata']['provider']['url'] }}" target="_blank" class="text-break">{{ config['metadata']['provider']['url'] }}</a>
      </div>
    </section>

    <section class="panel panel-primary">
      <header class="panel-heading">
        <h2 class="panel-title">Contact point</h2>
      </header>
      <div class="panel-body">
        <b>Address</b><br/>
        <div id="address-details">
          <span>{{ config['metadata']['contact']['address'] }}</span><br/>
          <span>{{ config['metadata']['contact']['city'] }}</span>,
          <span>{{ config['metadata']['contact']['stateorprovince'] }}</span><br/>
          <span>{{ config['metadata']['contact']['postalcode'] }}</span><br/>
          <span>{{ config['metadata']['contact']['country'] }}</span>
        </div>
        <div>
          <b>Email</b><br/>
          <span><a href="mailto:{{ config['metadata']['contact']['email'] }}" class="text-break">{{ config['metadata']['contact']['email'] }}</a></span><br/>
          {% if config['metadata']['contact']['phone'] %}
            <b>Telephone</b><br/>
            <span><a href="tel:{{ config['metadata']['contact']['phone'] }}">{{ config['metadata']['contact']['phone'] }}</a></span><br/>
          {% endif %}
          {% if config['metadata']['contact']['fax'] %}
            <b>Fax</b><br/>
            <span><a href="tel:{{ config['metadata']['contact']['fax'] }}">{{ config['metadata']['contact']['fax'] }}</a></span><br/>
          {% endif %}
          {% if config['metadata']['contact']['url'] %}
            <b>Contact URL</b><br/>
            <span><a href="{{ config['metadata']['contact']['url'] }}" target="_blank" class="text-break">{{ config['metadata']['contact']['url'] }}</a></span><br/>
          {% endif %}
          {% if config['metadata']['contact']['hours'] %}
            <b>Hours</b><br/>
            <span>{{ config['metadata']['contact']['hours'] }}</span><br/>
          {% endif %}
          {% if config['metadata']['contact']['instructions'] %}
            <b>Contact instructions</b><br/>
            <span>{{ config['metadata']['contact']['instructions'] }}</span>
          {% endif %}
        </div>
      </div>
    </section>

    <section class="panel panel-info">
      <header class="panel-heading">
        <h2 class="panel-title">Use of service</h2>
      </header>
      <div class="panel-body">
        {% if config['metadata']['identification']['terms_of_service'] %}
        <b>License</b><br>
        <a href="{{ config['metadata']['license']['url'] }}">{{ config['metadata']['license']['name'] or config['metadata']['license']['url'] }}</a><br>
        {% endif %}

        {% if config['metadata']['identification']['terms_of_service'] %}
        <b>Terms of service</b><br>
        <span class="text-break">{{ config['metadata']['identification']['terms_of_service'] | urlize() }}</span>
        {% endif %}
      </div>
  </div>
</div>

</section>

{% endblock %}
