{% extends "_base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
<li><a href="../collections">Collections</a></li>
<li><a href="./{{ data['id'] }}">{{ data['title'] }}</a></li>
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block body %}
    <section id="collection">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{ data['title'] }}</h1>
          <p>{{ data['description'] }}</p>
          <ul class="list-inline">
            {% for kw in data['keywords'] %}
              <li><span class="label label-info">{{ kw }}</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="collection-map"></div>
        </div>
      </div>
      {% if data['itemType'] == 'feature' or data['itemType'] == 'record' %}
      <h3>Browse</h3>
      <ul>
        <li>
          <div>
            <a title="Browse Items" href="{{ config['server']['url'] }}/collections/{{ data['id'] }}/items">
              Browse through the items of "{{ data['title'] }}"</a></div>
        </li>
      </ul>
      <h3>Queryables</h3>
      <ul>
        <li>
          <div>
            <a title="Display Queryables" href="{{ config['server']['url'] }}/collections/{{ data['id'] }}/queryables">
              Display Queryables of "{{ data['title'] }}"</a></div>
        </li>
      </ul>
      {% for provider in config['resources'][data['id']]['providers'] %}
        {% if 'tile' in provider['type'] %}
      <h3>Tiles</h3>
      <ul>
        <li>
          <div>
            <a title="Display Tiles" href="{{ config['server']['url'] }}/collections/{{ data['id'] }}/tiles">Display Tiles of "{{ data['title'] }}"</a>
          </div>
        </li>
      </ul>
        {% endif %}
      {% endfor %}
      {% endif %}
      <h3>Output Formats</h3>
      <ul>
      {% for link in data['links'] %}
        {# oapiFeatures datasets; shows the primary 'f=[format]' #}
        {% if link['rel'] == 'items' %}
          <li>{{ link['href'].split('?')[1].split('=')[1] }} ({{ link['type'] }})</li>
          {% if link['type'] == 'application/geo+json' %}
          <li>CSV</li>{# generally supported with pygeoapi feature collections #}
          {% endif %}
        {% endif %}
        {# oapiCoverage datasets; shows the primary 'f=[format]' #}
        {% if link['rel'] == 'http://www.opengis.net/def/rel/ogc/1.0/coverage' %}
          <li>{{ link['href'].split('?')[1].split('=')[1] }} ({{ link['type'] }})</li>
        {% endif %}
      {% endfor %}
      </ul>
      <h3>Links</h3>
      <ul>
      {% for link in data['links'] %}
          <li>
            <a title="{{ link['rel'] }}" href="{{ link['href'] }}">
            <span>{{ link['title'] }}</span> (<span>{{ link['type'] }}</span>)
            </a></li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}

{% block extrafoot %}
    <script>
    var map = L.map('collection-map').setView([{{ 0 }}, {{ 0 }}], 1);
    map.addLayer(new L.TileLayer(
      '{{ config['server']['map']['url'] }}', {
        maxZoom: 18,
        attribution: '{{ config['server']['map']['attribution'] }}'
      }
    ));

    var bbox_layer = L.polygon([
      ['{{ data['extent']['spatial']['bbox'][0][1] }}', '{{ data['extent']['spatial']['bbox'][0][0] }}'],
      ['{{ data['extent']['spatial']['bbox'][0][3] }}', '{{ data['extent']['spatial']['bbox'][0][0] }}'],
      ['{{ data['extent']['spatial']['bbox'][0][3] }}', '{{ data['extent']['spatial']['bbox'][0][2] }}'],
      ['{{ data['extent']['spatial']['bbox'][0][1] }}', '{{ data['extent']['spatial']['bbox'][0][2] }}']
    ]);

    map.addLayer(bbox_layer);
    map.fitBounds(bbox_layer.getBounds(), {maxZoom: 10});
    </script>
{% endblock %}
