{% extends "_base.html" %}
{% block title %}{{ super() }} Collections {% endblock %}
{% block crumbs %}{{ super() }}
<li><a href="./collections">Collections</a></li>
{% endblock %}
{% block body %}
    <section id="collections">
      <h1>Collections in this service</h1>
      <button @click="tableHidden = !tableHidden">TEST hide table: [% tableHidden %]</button>
            <table class="striped" v-show="!tableHidden">
              <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
                {% for col in data['collections']  %}
                <tr>
                  <td data-label="name">
                    <a  title="{{ col['title'] | striptags | truncate }}"
                      href="{{ config['server']['url'] }}/collections/{{ col.id }}">
                      <span>{{ col['title'] | striptags | truncate }}</span></a>
                  </td>
                  <td data-label="type">{{ col["itemType"] }}</td>
                  <td data-label="description">
                    {{ col['description'] | striptags | truncate }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js" integrity="sha512-M8VjsuCj1iBzrwKloFNjvQBmFXT2oF0MWExoLGpQT2nEx5tq7CP+BhWGJdczT1LoWAhyqHh+LJ6ihHSVGyclHw==" crossorigin="anonymous"></script>
    <script type="module">
      const app = Vue.createApp({
        delimiters: ['[%', '%]'],
        setup() {
          const tableHidden = Vue.ref(false);
          return {
            tableHidden
          };
        }
      }).mount('#collections');
    </script>
{% endblock %}
