{% extends "_base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
<li><a href="{{ data['collections_path'] }}?lang={{ (locale|lower)[:2] }}">{% trans %}Collections{% endtrans %}</a></li>
{% for link in data['links'] %}
  {% if link.rel == 'collection' %}
    <li><a href="{{ data['dataset_path'] }}?lang={{ (locale|lower)[:2] }}">{{ link['title'][(locale|lower)[:2]] | truncate( 25 ) }}</a></li>
    {% set col_title = link['title'][(locale|lower)[:2]] %}
  {% endif %}
{% endfor %}
<li><a href="{{ data['dataset_path'] }}/instances?lang={{ (locale|lower)[:2] }}">{% trans %}Instances{% endtrans %}</a></li>
<li><a href="{{ data['dataset_path'] }}/instances/{{ data['id'] }}?lang={{ (locale|lower)[:2] }}">{{ data['id'] }}</a></li>
{% endblock %}
{% block body %}
    <section id="collection">
      <h1>{{ data['title'][(locale|lower)[:2]] }}</h1>
      <p>{{ data['description'][(locale|lower)[:2]] }}</p>
      <ul class="list-inline">
        {% for kw in data['keywords'][(locale|lower)[:2]] %}
          <li><span class="label label-info">{{ kw }}</span></li>
        {% endfor %}
      </ul>
      <h3>{% trans %}Instance{% endtrans %} {{ data['id'] }}</h3>
    </section>
    <h3>{% trans %}Links{% endtrans %}</h3>
    <ul>
    {% for key, value in data['data_queries'].items() %}
        <li>
          <a title="{{ value['link']['rel'] }}" href="{{ value['link']['href'] }}">
          <span>{{ value['link']['title'] }}</span>
          </a>
        </li>
    {% endfor %}
    {% for link in data['links'] %}
        <li>
          <a title="{{ link['rel'] }}" href="{{ link['href'] }}">
          <span>
            {% if (locale|lower)[:2] in link['title'] %}
              {{ link['title'][(locale|lower)[:2]] }}
            {% else %}
              {{ link['title'] }}
            {% endif %}
          </span>
          (<span>{{ link['type'] }}</span>)
          </a>
        </li>
   {% endfor %}
    </ul>
{% endblock %}