{% extends "_base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
<li><a href="{{ data['collections_path'] }}">Collections</a></li>
{% for link in data['links'] %}
  {% if link.rel == 'collection' %}
    <li><a href="{{ data['dataset_path'] }}">{{ link['title'] }}</a></li>
    {% set col_title = link['title'] %}
  {% endif %}
{% endfor %}
<li><a href="{{ data['items_path']}}">Items</a></li>
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
{% endblock %}

{% block body %}
  <section id="collection">
    <h1>{% for l in data['links'] if l.rel == 'collection' %} {{ l['title'] }} {% endfor %}</h1>
    <p>Items in this collection.</p>
  </section>
  <section id="items">
    {% if data['features'] %}
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="row">
          <div class="col-sm-12">
            <div id="items-map"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 mrgn-tp-sm">
        <div class="form-inline row" aria-controls="items-table">
          <div class="form-group col-xs-5">
            <label class="wb-inv" for="filter-table">Filter table content</label>
            <input
              id="filter-table"
              type="text"
              class="form-control input-sm mrgn-rght-0"
              placeholder="Filter table content"
              v-model="searchText">
          </div>
          <div class="col-xs-7 text-right">
            <div class="btn-group btn-group-sm inline-block">
              <button 
                title="Clear column keyword search queries and reset to display the default results" 
                class="btn btn-warning" 
                @click="clearSearch"
                :disabled="queryColsIsEmpty">
                <span class="glyphicon glyphicon-remove"></span> Reset</button>
              <button 
                title="Apply column keyword search queries to the entire collection" 
                class="btn btn-primary" 
                @click="applyKeywordSearch()"
                :disabled="queryColsIsEmpty">
                <span class="glyphicon glyphicon-search"></span> Search by keywords</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div id="items-table-container" :class="{ 'loading-mask': itemsLoading }">
          <table id="items-table" class="table table-striped">
            <thead>
              <tr>
                <th v-for="(th, index) in tableFields"
                  :class="th.colClass">
                  <div class="sortable ellipsis" @click="changeSortDir(th.key)" :title="th.text">
                    <span v-text="truncate(th.text, 15)"></span>
                    <span
                      v-show="currentSort === th.key"
                      :class="[sortIconClass, 'glyphicon']"></span>
                  </div>
                  <div v-if="th.key !== 'id'">
                    <label class="wb-inv" :for="'search-'+th.key">Keyword search for: [% th.key %]</label>
                    <input 
                      type="text"
                      class="form-control input-sm keyword-search-input"
                      title="eg. &quot;BC QC ON&quot; will search for &quot;BC&quot; or &quot;ON&quot; or &quot;QC&quot;"
                      :id="'search-'+th.key"
                      placeholder="Keyword"
                      v-model="queryCols[th.key]"
                      @keyup.enter="applyKeywordSearch()" />
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in items">
                <td v-for="(th, index) in tableFields" v-html="linkToRow(item, th.key, itemsPath)">
                </td>
              </tr>
              <!-- START of noJs progressive enhancement -->
              {% for ft in data['features'] %}
              <tr v-if="noJs">
                {% if data.get('uri_field') %}
                <td data-label="{{ data.get('uri_field') }}"><a href="{{ ft['properties'].get(data['uri_field'])}}" title="{{ ft['properties'][data['uri_field']] }}">{{ft['properties'][data.get('uri_field')]}}</a></td>
                {% endif %}
                <td data-label="id"><a href="{{ data['items_path']}}/{{ ft.id }}" title="{{ ft.id }}">{{ ft.id | string | truncate( 12 )  }}</a></td>
                {% if data['title_field'] %}
                  <td data-label="name"><a href="{{ data['items_path']}}/{{ ft['id'] }}" title="{{ ft['properties'][data['title_field']] }}">{{ ft['properties'][data['title_field']] | string | truncate( 35 ) }}</a></td>
                {% endif %}
                {% for k, v in ft['properties'].items() %}
                  {% if loop.index < 5 and k not in [data['id_field'], data['title_field'], data['uri_field'], 'extent'] %}
                  <td data-label="{{ k }}">{{ v | string | truncate( 35 ) }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
            <!-- END of noJS -->
            </tbody>
          </table>
        </div>

        <nav class="small" aria-live="polite" aria-controls="items-table">
          <div class="row">
            <div class="col-xs-5 col-sm-6">
              <div class="form-inline">
                <div class="form-group inline-block">
                  <label>Limit: </label>
                  <select
                    id="select-limit"
                    class="input-sm form-control inline-block"
                    v-model="limit"
                    :disabled="itemsLoading"
                    @change="limitChange()">
                      <option v-for="value of limitOptions" :value="value" v-text="value"></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-7 col-sm-6 text-right">
              <div v-text="showingLimitText"></div>
            </div>
          </div>
          <div class="alert alert-warning padding-tb-5 mrgn-bttm-0 mrgn-tp-sm">
            <p><small>Higher limits are not recommended</small></p>
          </div>
          <ul class="pagination pagination-sm clearfix">
            <li>
              <button class="btn btn-sm btn-default" @click="prevPageItems" rel="prev" :disabled="itemsLoading || currentPage === 1">Previous</button>
            </li>
            <span>Page [% currentPage %] / [% maxPages %]</span>
            <li>
              <button class="btn btn-sm btn-default" @click="nextPageItems" :disabled="itemsLoading || currentPage === maxPages" rel="next">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    {% else %}
    <div class="row col-sm-12">
        <p>No items</p>
    </div>
    {% endif %}
    </section>
{% endblock %}

{% block extrafoot %}
{% if data['features'] %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="module">
      import useItems from '{{ config['server']['url'] }}/static/js/composables/useItems.js?v={{ version }}'
      import useTableFilter from '{{ config['server']['url'] }}/static/js/composables/useTableFilter.js?v={{ version }}'
      import useMap from '{{ config['server']['url'] }}/static/js/composables/useMap.js?v={{ version }}'
      import { createApp, ref, computed, onBeforeMount, onMounted } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.7/vue.esm-browser.prod.js'

      const app = createApp({
        delimiters: ['[%', '%]'],
        setup() {
          const noJs = ref(false) // progressive enhancement

          // Items handling
          const { items, itemsJson, itemProps, getItems, itemsTotal, itemsLoading,
            currentPage, maxPages, prevPage, nextPage, limit, showingLimitText, calcStartIndex,
            queryCols, clearQueryCols, queryColsIsEmpty } = useItems()
          
          // Table columns
          const tableFields = computed(() => {
            const fields = []
            if (typeof itemProps === 'undefined') {
              return []
            }
            itemProps.value.forEach((prop) => {
              fields.push({
                key: prop,
                text: prop,
                colClass: ''
              })
            })
            return fields
          })
          const keyColumns = computed(() => {
            return tableFields.value.map(field => field.key)
          })

          // Table filtering
          const defaultSortCol = 'id'
          const { searchText, searchTextLowered, truncate,
            currentSort, currentSortDir, sortDir, sortIconClass, filteredRows, linkToRow } = useTableFilter(items, keyColumns, defaultSortCol)
          const changeSortDir = function (col) {
            sortDir(col)
            getItemsSorted()
            updateQueryParams()
          }
          
          // Collection searching
          const clearSearch = function() {
            clearQueryCols()
            searchText.value = ''
            getItemsSorted()
          }
          const applyKeywordSearch = function () {
            currentPage.value = 1 // Auto set to page 1 for keyword search
            getItemsSorted()
          }
          const getItemsSorted = function() {
            updateQueryParams()
            return getItems(currentSort.value, currentSortDir.value)
          }
          const prevPageItems = function() {
            prevPage()
            getItemsSorted()
          }
          const nextPageItems = function() {
            nextPage()
            getItemsSorted()
          }
          const limitOptions = [10, 100, 1000, 2000]
          const limitChange = function () {
            // Cannot have current page > max pages on limit changes
            if (currentPage.value > maxPages.value) {
              currentPage.value = maxPages.value
            }
            getItemsSorted()
          }

          // Map setup
          const itemsPath = '{{ data['items_path'] }}'
          const tileLayerUrl = '{{ config['server']['map']['url'] }}'
          const tileLayerAttr = '{{ config['server']['map']['attribution'] }}'
          useMap('items-map', itemsJson, itemsPath, tileLayerUrl, tileLayerAttr)

          // Permalink handling
          const queryParams = new URLSearchParams(window.location.search)
          const nonQueryColumns = ['sortby', 'startindex', 'limit', 'f']
          const params = Object.fromEntries(queryParams.entries())
          let historyState = 1
          const updateQueryParams = function () {
            queryParams.set('limit', limit.value)
            queryParams.set('startindex', calcStartIndex())
            if (currentSort.value !== defaultSortCol) { // don't apply sortby for default "id" column
              let sortby = currentSort.value
              if (currentSortDir.value === 'desc') {
                sortby = '-' + sortby
              }
              queryParams.set('sortby', sortby)
            } else {
              queryParams.delete('sortby')
            }
            for (const key of itemProps.value) {
              queryParams.delete(key)
            }
            if (!queryColsIsEmpty.value) {
              for (const [key, val] of Object.entries(queryCols.value)) {
                if (val !== '') {
                  queryParams.set(key, val)
                }
              }
            }
            history.pushState(params, null, "?"+queryParams.toString())
          }
          const permalinkMount = function () {
            // limit
            if (queryParams.has('limit')) {
              limit.value = parseInt(params.limit)
            }
            onMounted(() => { // Add limit select option if new
              // limit select option
              if (queryParams.has('limit')) {
                const limitValue = parseInt(params.limit)
                if (!limitOptions.includes(limitValue)) {
                  limitOptions.push(limitValue)
                  limitOptions.sort((a,b) => a-b) // number sort
                }
              }
            })

            // pagination - startindex
            if (queryParams.has('startindex')) {
              // calculate currentPage with limit
              const startindex = parseInt(params.startindex)
              currentPage.value = Math.floor((startindex/limit.value) + 1)
            }

            // sort
            if (queryParams.has('sortby')) {
              const sortby = params.sortby + '' // string
              if (sortby[0] === '-') { // descending sort
                currentSortDir.value = 'desc'
                currentSort.value = sortby.substr(1)
              } else {
                currentSort.value = sortby
              }
            }

            // other columns / keyword searches
            for (const key of queryParams.keys()) {
              if (!nonQueryColumns.includes(key)) {
                queryCols.value[key] = params[key] + '' // stringify
              }
            }
          }
          onBeforeMount(() => { // on page load permalink
            permalinkMount()
          })

          // initial httpRequest to populate table
          onMounted(() => {
            getItems(currentSort.value, currentSortDir.value)
          })

          // history back handling
          window.onpopstate = function (evt) {
            history.pushState(null, null, location.href)
            permalinkMount()
            getItemsSorted()
          }
          

          return {
            tableFields, keyColumns, itemsTotal, itemsLoading,
            items: filteredRows, // don't care for unfiltered
            searchText, searchTextLowered, truncate,
            sortIconClass, changeSortDir, currentSort, currentSortDir,
            limit, limitOptions, showingLimitText, currentPage, maxPages, limitChange,
            itemsPath, linkToRow,
            queryCols, clearSearch, queryColsIsEmpty, applyKeywordSearch, prevPageItems, nextPageItems
          }
        }
      })
      app.mount('#items')
    </script>
{% endif %}
{% endblock %}
