{% extends "_base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block extralang %}
{% for link in data['links'] %}
{% if link['rel'] == 'alternate' and link['type'] == 'application/geo+json' %}
<li>
  <a id="csv-format-url" href="{{ link['href']|replace('f=json', 'f=csv') }}" class="btn btn-xs btn-default">
    <span class="hidden-xs">{% trans %}CSV{% endtrans %}</span>
    <abbr title="CSV" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">{% trans %}CSV{% endtrans %}</abbr>
  </a>
</li>
{% endif %}
{% endfor %}
{% endblock %}
{% block crumbs %}{{ super() }}
<li><a href="{{ data['collections_path'] }}?lang={{ (locale|lower)[:2] }}">{% trans %}Collections{% endtrans %}</a></li>
{% for link in data['links'] %}
  {% if link.rel == 'collection' %}
    <li><a href="{{ data['dataset_path'] }}?lang={{ (locale|lower)[:2] }}">{{ link['title'] }}</a></li>
    {% set col_title = link['title'] %}
  {% endif %}
{% endfor %}
<li><a href="{{ data['items_path']}}?lang={{ (locale|lower)[:2] }}">{% trans %}Items{% endtrans %}</a></li>
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
{% endblock %}

{% block body %}
  <section id="collection">
    <h1>{% for l in data['links'] if l.rel == 'collection' %} {{ l['title'] }} {% endfor %}</h1>
    <p>{% trans %}Items in this collection.{% endtrans %}</p>
  </section>
  <section id="items">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="row">
          <div class="col-sm-12">
            <div id="items-map"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 mrgn-tp-sm">
        <div class="checkbox-inline text-right">
          <label for="bboxPermalinkCheck">
            <input id="bboxPermalinkCheck" type="checkbox" v-model="bboxPermalink" @change="getItemsSorted()">
            {% trans %}Only show items by map view{% endtrans %}
          </label>
        </div>
        <div v-if="items.length === 0" class="alert alert-warning">
          <p>{% trans %}No results. Please modify your search query or <button
            :title="txt.reset"  
            class="btn btn-warning btn-sm" 
            @click="clearSearch">reset</button> the table.{% endtrans %}</p>
        </div>
        <div class="form-inline row" aria-controls="items-table">
          <div class="form-group col-xs-5">
            <label class="wb-inv" for="filter-table">{% trans %}Filter table content{% endtrans %}</label>
            <input
              id="filter-table"
              type="text"
              class="form-control input-sm mrgn-rght-0"
              placeholder="{% trans %}Filter table content{% endtrans %}"
              v-model="searchText">
          </div>
          <div class="col-xs-7 text-right">
            <div class="btn-group btn-group-sm inline-block">
              <button 
                :title="txt.reset" 
                class="btn btn-warning" 
                @click="clearSearch"
                :disabled="queryColsIsEmpty">
                <span class="glyphicon glyphicon-remove"></span> {% trans %}Reset{% endtrans %}</button>
              <button 
                title="{% trans %}Apply column keyword search queries to the entire collection{% endtrans %}" 
                class="btn btn-primary" 
                @click="applyKeywordSearch()"
                :disabled="queryColsIsEmpty">
                <span class="glyphicon glyphicon-search"></span> {% trans %}Search by keywords{% endtrans %}</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div id="items-table-container" :class="{ 'loading-mask': itemsLoading }">
          <table id="items-table" class="table table-striped">
            <thead>
              <tr>
                <th v-for="(th, index) in tableFields"
                  :class="th.colClass">
                  <div class="sortable ellipsis" @click="changeSortDir(th.key)" :title="th.text">
                    <span v-text="truncate(th.text, 15)"></span>
                    <span
                      v-show="currentSort === th.key"
                      :class="[sortIconClass, 'glyphicon']"></span>
                  </div>
                  <div v-if="th.key !== 'id'">
                    <label class="wb-inv" :for="'search-'+th.key">{% trans %}Keyword search for: [% th.key %]{% endtrans %}</label>
                    <input 
                      type="text"
                      class="form-control input-sm keyword-search-input"
                      title="{% trans %}eg. &quot;BC QC ON&quot; will search for &quot;BC&quot; or &quot;ON&quot; or &quot;QC&quot;{% endtrans %}"
                      :id="'search-'+th.key"
                      placeholder="{% trans %}Keyword{% endtrans %}"
                      v-model="queryCols[th.key]"
                      @keyup.enter="applyKeywordSearch()" />
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in items">
                <td v-for="(th, index) in tableFields" v-html="linkToRow(item, th.key, itemsPath, '{{ (locale|lower)[:2] }}')">
                </td>
              </tr>
              <!-- START of noJs progressive enhancement -->
              {% for ft in data['features'] %}
              <tr v-if="noJs">
                {% if data.get('uri_field') %}
                <td data-label="{{ data.get('uri_field') }}"><a href="{{ ft['properties'].get(data['uri_field'])}}" title="{{ ft['properties'][data['uri_field']] }}">{{ft['properties'][data.get('uri_field')]}}</a></td>
                {% endif %}
                <td data-label="id"><a href="{{ data['items_path']}}/{{ ft.id }}?lang={{ (locale|lower)[:2] }}" title="{{ ft.id }}">{{ ft.id | string | truncate( 12 )  }}</a></td>
                {% if data['title_field'] %}
                  <td data-label="name"><a href="{{ data['items_path']}}/{{ ft['id'] }}?lang={{ (locale|lower)[:2] }}" title="{{ ft['properties'][data['title_field']] }}">{{ ft['properties'][data['title_field']] | string | truncate( 35 ) }}</a></td>
                {% endif %}
                {% for k, v in ft['properties'].items() %}
                  {% if loop.index < 5 and k not in [data['id_field'], data['title_field'], data['uri_field'], 'extent'] %}
                  <td data-label="{{ k }}">{{ v | string | truncate( 35 ) }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
            <!-- END of noJS -->
            </tbody>
          </table>
        </div>

        <nav class="small" aria-live="polite" aria-controls="items-table">
          <div class="row">
            <div class="col-xs-5 col-sm-6">
              <div class="form-inline">
                <div class="form-group inline-block">
                  <label>{% trans %}Limit:{% endtrans %} </label>
                  <select
                    id="select-limit"
                    class="input-sm form-control inline-block"
                    v-model="limit"
                    :disabled="itemsLoading"
                    @change="limitChange()">
                      <option v-for="value of limitOptions" :value="value" v-text="value"></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-7 col-sm-6 text-right">
              <span v-text="showingLimitText"></span>
              <span v-show="showingFilteredFromText !== ''" v-text="' (' + showingFilteredFromText + ')'"></span>
            </div>
          </div>
          <div class="alert alert-warning padding-tb-5 mrgn-bttm-0 mrgn-tp-sm">
            <p><small>{% trans %}Higher limits are not recommended{% endtrans %}</small></p>
          </div>
          <ul class="pagination pagination-sm clearfix">
            <li>
              <button class="btn btn-sm btn-default" @click="prevPageItems" rel="prev" :disabled="itemsLoading || currentPage === 1">{% trans %}Previous{% endtrans %}</button>
            </li>
            <span>{% trans %}Page [% currentPage %] / [% maxPages %]{% endtrans %}</span>
            <li>
              <button class="btn btn-sm btn-default" @click="nextPageItems" :disabled="itemsLoading || currentPage === maxPages" rel="next">{% trans %}Next{% endtrans %}</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    </section>
{% endblock %}

{% block extrafoot %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
      const ID_FIELD = '{{ data.get('id_field') }}'; // primary ID field (from Jinja2 template)
      const LOCALE = '{{ (locale|lower)[:2] }}'
    </script>
    <script type="module">
      import useItems from '{{ config['server']['url'] }}/static/js/composables/useItems.js?v={{ version }}'
      import useTableFilter from '{{ config['server']['url'] }}/static/js/composables/useTableFilter.js?v={{ version }}'
      import useMap from '{{ config['server']['url'] }}/static/js/composables/useMap.js?v={{ version }}'
      import { createApp, ref, computed, onBeforeMount, onMounted, watch } from 'vue'

      const app = createApp({
        delimiters: ['[%', '%]'],
        setup() {
          const noJs = ref(false) // progressive enhancement
          /* Text */
          const txt = {
            'reset': '{% trans %}Clear column keyword search queries and reset to display the default results{% endtrans %}'
          }

          /* Items handling */
          const itemsi18n = {
            showingRange: "{% trans %}Showing $firstPage to $upper of $itemsTotal{% endtrans %}",
            showing0: "{% trans %}Showing 0 results{% endtrans %}"
          }
          const { items, itemsJson, itemProps, getItems, getTableHeaders, itemsTotal, itemsLoading,
            currentPage, maxPages, prevPage, nextPage, limit, showingLimitText, calcOffset,
            queryCols, clearQueryCols, queryColsIsEmpty } = useItems(itemsi18n)
          
          /* Table columns */
          const tableFields = computed(() => {
            const fields = []
            if (typeof itemProps === 'undefined') {
              return []
            }
            if (itemProps.value.length > 0) {
              fields.push({ // root id property
                key: 'id',
                text: 'id',
                colClass: ''
              })
              itemProps.value.forEach((prop) => {
                // avoid duplicate column id case that matches root id
                if (prop.toLowerCase() === 'id') {
                  return // skip
                } 
                // avoid duplicate columns if root id and ID_FIELD are the same
                if (prop.toLowerCase() === ID_FIELD.toLowerCase()) {
                  return // skip
                }

                fields.push({
                  key: prop,
                  text: prop,
                  colClass: ''
                })
              })
            }
            return fields
          })
          const keyColumns = computed(() => {
            return tableFields.value.map(field => field.key)
          })

          /* Table filtering */
          const defaultSortCol = 'id' // root id
          const tableTexti18n = {
            filteredSingular: "{% trans %}filtered from $totalSize total entry{% endtrans %}",
            filteredPlural: "{% trans %}filtered from $totalSize total entries{% endtrans %}",
            showing: "{% trans %}Showing $startEntryOfPage to $lastEntryOfPage of $filteredNumEntries{% endtrans %}"
          }
          const { searchText, searchTextLowered, truncate, showingFilteredFromText,
            currentSort, currentSortDir, sortDir, sortIconClass, filteredRows, linkToRow } = useTableFilter(items, keyColumns, defaultSortCol, tableTexti18n)
          const changeSortDir = function (col) {
            sortDir(col)
            getItemsSorted()
          }
          
          /* Collection searching */
          const clearSearch = function() {
            clearQueryCols()
            searchText.value = ''
            getItemsSorted()
          }
          const applyKeywordSearch = function () {
            currentPage.value = 1 // Auto set to page 1 for keyword search
            getItemsSorted()
          }
          const prevPageItems = function() {
            prevPage()
            getItemsSorted()
          }
          const nextPageItems = function() {
            nextPage()
            getItemsSorted()
          }
          const limitOptions = [10, 100, 1000, 2000]
          const limitChange = function () {
            // Cannot have current page > max pages on limit changes
            if (currentPage.value > maxPages.value) {
              currentPage.value = maxPages.value
            }
            getItemsSorted()
          }
          const getItemsSorted = function(lastHistoryState = null) {
            updateQueryParams(lastHistoryState)
            // return for optional promise handling
            return getItems(currentSort.value, currentSortDir.value, bboxPermalink.value ? bbox.value : '')
          }

          /* Map setup */
          const itemsPath = '{{ data['items_path'] }}'
          const tileLayerUrl = '{{ config['server']['map']['url'] }}'
          const tileLayerAttr = '{{ config['server']['map']['attribution'] | safe }}'
          const bboxPermalink = ref(false)
          const { bbox } = useMap('items-map', itemsJson, itemsPath, tileLayerUrl, tileLayerAttr, bboxPermalink, LOCALE)

          /* Permalink handling */
          let queryParams = new URLSearchParams(window.location.search)
          const nonQueryColumns = ['sortby', 'offset', 'limit', 'f', 'bbox']
          let params = Object.fromEntries(queryParams.entries())
          let historyState = 1 // internal state handling for back/forward
          // update JSON and JSONLD href 
          const updateJsonLinks = function() {
            let jsonLink = document.getElementById('json-format-url')
            jsonLink.href = '?' + queryParams.toString() + '&f=json'
            let jsonLdLink = document.getElementById('jsonld-format-url')
            jsonLdLink.href = '?' + queryParams.toString() + '&f=jsonld'
            let csvLink = document.getElementById('csv-format-url')
            csvLink.href = '?' + queryParams.toString() + '&f=csv'
          }
          // updates URL query params with current state
          const updateQueryParams = function(lastHistoryState = null) {
            queryParams = new URLSearchParams(window.location.search)
            params = Object.fromEntries(queryParams.entries())
            queryParams.set('limit', limit.value)
            queryParams.set('offset', calcOffset())
            if (currentSort.value !== defaultSortCol) { // don't apply sortby for root "id" column
              let sortby = currentSort.value
              if (currentSortDir.value === 'desc') {
                sortby = '-' + sortby
              }
              queryParams.set('sortby', sortby)
            } else {
              queryParams.delete('sortby')
            }
            for (const key of itemProps.value) {
              queryParams.delete(key)
            }
            if (!queryColsIsEmpty.value) {
              for (const [key, val] of Object.entries(queryCols.value)) {
                if (val !== '') {
                  queryParams.set(key, val)
                }
              }
            }
            if (bboxPermalink.value) {
              queryParams.set('bbox', bbox.value)
            } else {
              queryParams.delete('bbox')
            }

            // browser back/forward history handling
            if (lastHistoryState !== null) {
              historyState = lastHistoryState
            }

            // no browser back/forward was pressed
            if (history.state !== lastHistoryState || history.state === null) {
              history.pushState(historyState, null, '?' + queryParams.toString())
              historyState++
            }

            updateJsonLinks()
          }
          // update json data after each map moveend event
          watch(bbox, (newVal, oldVal) => {
            if (newVal !== oldVal && oldVal !== '') { // prevent double XHR on initial load
              getItemsSorted()
            }
          })
          // reads the URL query params and applies to vm
          const permalinkMount = function () {
            queryParams = new URLSearchParams(window.location.search)
            params = Object.fromEntries(queryParams.entries())

            // limit
            if (queryParams.has('limit')) {
              const limitValue = parseInt(params.limit)
              if (!limitOptions.includes(limitValue)) {
                limitOptions.push(limitValue)
                limitOptions.sort((a,b) => a-b) // number sort
              }
              limit.value = limitValue
            }

            // pagination - offset
            if (queryParams.has('offset')) {
              // calculate currentPage with limit
              const offset = parseInt(params.offset)
              currentPage.value = Math.floor((offset/limit.value) + 1)
            }

            // sort
            if (queryParams.has('sortby')) {
              const sortby = params.sortby + '' // stringify
              if (sortby[0] === '-') { // descending sort
                currentSortDir.value = 'desc'
                currentSort.value = sortby.substr(1)
              } else if (sortby[0] === '+') { // explicit ascending sort
                currentSort.value = sortby.substr(1)
              } else {
                currentSort.value = sortby
              }
            }

            // other columns / keyword searches
            for (const key of queryParams.keys()) {
              if (!nonQueryColumns.includes(key)) {
                queryCols.value[key] = params[key] + '' // stringify
              }
            }

            // bbox
            if (queryParams.has('bbox')) {
              bboxPermalink.value = true
              bbox.value = params.bbox + '' // stringify
            }
          }
          // on page load permalink handling
          onBeforeMount(() => {
            // populate table headers if 0 initial results from permalink
            const initNumJinjaData = '{{ data['features']|length }}'
            if (initNumJinjaData === '0') {
              getTableHeaders()
            }
            permalinkMount()
          })

          // initial httpRequest to populate table and update JSON links
          onMounted(() => {
            getItems(currentSort.value, currentSortDir.value, bbox.value)
            updateJsonLinks()
          })

          // history back handling
          window.onpopstate = function (evt) {
            evt.preventDefault()
            permalinkMount()
            getItemsSorted(evt.state)
          }

          return {
            txt,
            tableFields, keyColumns, itemsTotal, itemsLoading,
            items: filteredRows, // don't care for unfiltered
            searchText, searchTextLowered, truncate,
            sortIconClass, changeSortDir, currentSort, currentSortDir,
            limit, limitOptions, showingLimitText, showingFilteredFromText, currentPage, maxPages, limitChange, bboxPermalink,
            itemsPath, linkToRow,
            queryCols, clearSearch, queryColsIsEmpty, applyKeywordSearch, prevPageItems, nextPageItems, getItemsSorted
          }
        }
      })
      app.mount('#items')
    </script>
{% endblock %}
