@media (min-width: 1400px) {
  .container{
    width: 1320px;
  }
}

.text-break {
  word-break: break-all;
}

#items-map, #collection-map {
    width: 100%;
    height: 400px;
}

footer.sticky {
    position: fixed;
    width: 100%;
}

table:not(.horizontal) {
    max-height: none;
}

.label-job {
  color: #000;
}

.job-successful {
  background: #d8eeca;
  border-color: #278400;
}

.job-accepted {
  background: #d7faff;
  border-color: #269abc;
}

.job-failed {
  background: #f3e9e8;
  border-color: #d3080c
}

.job-running {
  background: #f9f4d4;
  border-color: #f90;
}
