Source: msc-pygeoapi
Section: python
Priority: optional
Maintainer: Tom Kralidis <tom.kralidis@ec.gc.ca>
Build-Depends: debhelper (>= 9), python3, python3-setuptools, curl, unzip
Standards-Version: 3.9.5
X-Python-Version: >= 3.6
Vcs-Git: https://github.com/ECCC-MSC/msc-pygeoapi.git

Package: msc-pygeoapi
Architecture: all
Depends: elasticsearch, python3, python3-click, python3-fiona, python3-gdal, python3-lxml, python3-parse, python3-pygeoapi, python3-pygeometa, python3-pyproj, python3-rasterio, python3-requests, python3-slugify, python3-sqlalchemy, python3-unicodecsv, python3-xarray, python3-yaml
Suggests: python3-elasticsearch
Homepage: https://github.com/ECCC-MSC/msc-pygeoapi
Description: MSC GeoMet pygeoapi server configuration and utilities
 This service provides OGC API services for weather, climate, and water data
