Source: msc-pygeoapi
Section: python
Priority: optional
Maintainer: Tom Kralidis <tom.kralidis@canada.ca>
Build-Depends: debhelper (>= 9), python, python-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
Vcs-Git: https://gccode.ssc-spc.gc.ca/ec-msc/msc-pygeoapi.git

Package: msc-pygeoapi
Architecture: all
Depends: elasticsearch (>= 5), python-pygeoapi, python-unicodecsv
Homepage: https://gccode.ssc-spc.gc.ca/ec-msc/msc-pygeoapi
Description: MSC GeoMet pygeoapi server configuration and utilities
