Source: msc-pygeoapi
Section: python
Priority: optional
Maintainer: Tom Kralidis <tom.kralidis@canada.ca>
Build-Depends: debhelper (>= 9), python3, python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 3.6
Vcs-Git: https://github.com/ECCC-MSC/msc-pygeoapi.git

Package: msc-pygeoapi
Architecture: all
Depends: elasticsearch (>=7), elasticsearch (<8), python3, python3-click, python3-elasticsearch (>=7), python3-elasticsearch (<8), python3-gdal, python3-lxml, python3-parse, python3-pygeoapi, python3-pyproj, python3-requests, python3-sqlalchemy, python3-unicodecsv, python3-yaml
Homepage: https://github.com/ECCC-MSC/msc-pygeoapi
Description: MSC GeoMet pygeoapi server configuration and utilities
 This service provides OGC API services for weather, climate, and water data
