#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

MSC_PYGEOAPI_VERSION=$(shell dpkg-parsechangelog -SVersion)

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_configure:
	# Create directories if not exist
	mkdir -p debian/schemas.opengis.net && mkdir -p theme/static

	# Download and unzip SCHEMAS_OPENGIS_NET.zip
	curl -O http://schemas.opengis.net/SCHEMAS_OPENGIS_NET.zip \
	&& unzip -o ./SCHEMAS_OPENGIS_NET.zip "ogcapi/*" -d debian/schemas.opengis.net \
	&& rm -f ./SCHEMAS_OPENGIS_NET.zip

	# Set version in theme/templates/_base.html
	sed -i "s/MSC_PYGEOAPI_VERSION/$(MSC_PYGEOAPI_VERSION)/" theme/templates/_base.html

	# Download themes-gcweb.zip, check if downloaded, and unzip
	curl -L https://github.com/wet-boew/GCWeb/releases/download/v14.6.0/themes-dist-14.6.0-gcweb.1.zip -o ./themes-gcweb.zip
	test -f ./themes-gcweb.zip || { echo "themes-gcweb.zip not found!"; exit 1; }

	# Unzip themes into the correct directories
	unzip -o ./themes-gcweb.zip "*/GCWeb/*" -d theme/static
	unzip -o ./themes-gcweb.zip "*/wet-boew/*" -d theme/static
	rm -rf ./theme/static/themes-gcweb
	mv ./theme/static/themes-dist-14.6.0-gcweb ./theme/static/themes-gcweb
	rm -f ./themes-gcweb.zip

	# Generate the binary file with the translations
	pybabel compile -d locale -l fr

override_dh_auto_test:
	@echo "nocheck set, not running tests"

override_dh_clean:
	dh_clean
	rm -rf debian/schemas.opengis.net/ogcapi/*.zip